<!doctype html>
{% load static%}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css'%}" />
    <script src="{% static 'javascript/script.js'%}" defer></script>
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <nav class="navbar-fixed">
      <div>
        <h2 class="label">Longform</h2>
        <div class="intro-page">
          <a href="/">Home</a>
          <a href="{% url 'posts:list' %}">Posts</a>
          <a href="/about">About</a>
        </div>
        {% if user.is_authenticated %} |
        <div>
          <a href="{% url 'posts:new-post' %}"
            ><span role="img" aria-label="New Post" title="New Post">
              🆕
            </span></a
          >
          <form action="{% url 'users:logout' %}" method="post">
            {% csrf_token %}
            <button aria-label="User Logout" title="User Logout">👋</button>
          </form>
        </div>
        {% else%}
        <div class="out-user">
          <a class="login" href="{% url 'users:login' %}">Log in</a>
          <a class="get-started-btn" href="{% url 'users:register' %}">
            Get started
          </a>
        </div>
        {% endif %}
        <img
          class="menu-icon"
          id="menu-icon"
          src="{% static 'images/menu_icon.png'%}"
          alt=""
        />
        <span class="closing-icon">X</span>
      </div>
      <hr class="divider" />
    </nav>
    {% comment %} side bar {% endcomment %}
    <div class="sidebar">
      <div class="intro-sidebar">
        <a href="/">Home</a>
        <a href="{% url 'posts:list' %}"> Posts</a>
        <a href="/about">About</a>
        <hr class="divider" />
      </div>
      {% if user.is_authenticated %} |
      <div class="in-user-sidebar">
        <a href="{% url 'posts:new-post' %}"
          ><span role="img" aria-label="New Post" title="New Post">
            🆕
          </span></a
        >
        <form action="{% url 'users:logout' %}" method="post">
          {% csrf_token %}
          <button aria-label="User Logout" title="User Logout">👋</button>
        </form>
      </div>
      {% else%}
      <div class="out-user-sidebar">
        <a class="login-sidebar" href="{% url 'users:login' %}">Log in</a>
        <a class="get-started-btn-sidebar" href="{% url 'users:register' %}">
          Get started
        </a>
      </div>
      {% endif %}
    </div>
    <hr class="divider" />
    <main>
      {% block content %} {% endblock %}
      <footer>
        <hr class="divider" />
        <div class="footer-container">
          <p class="label-footer">Longform</p>
          <p class="copyright">© 2026. Crafted with intention</p>
        </div>
      </footer>
    </main>
  </body>
</html>
